@media screen and (min-width: 321px){
    nav {
        width: 150px;
        align-items: flex-start;
    }
    main {
        width: calc(100% - 150px);
        margin-left: 150px;
    }
    .center-menu {
        display: block;
    }
    #logo-spotify-small {
        display: none;
    }
    #logo-spotify-regular, .menu-text, .center-menu {
        display: block;
    }
    #logo-spotify-regular {
        width: 80px;
        margin-left: 7px;
    }
    .home-sidebar {
        border-left: 2px solid green;
    }
    #home-text {
        color: white;
    }
    .nav-playlist-title {
        color: white;
        font-size: 0.7em;
    }
    .menu-text{
        font-size: 0.8em;
    }
    .menu-logos ul li {
        display: flex;
        flex-direction: column;
    }
}