@media screen and (min-width: 1441px){
    
    .playlist {
        width: calc((100% / 6) - 10px);
    }
    .menu-logos ul li {
        width: 25px;
    }
    .home-aside::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 75px;
        transform: translateY(-50%);
        height: 30px;
        width: 2px;
        background-color: rgb(173,255,47);
    }
    .song-description p{
        font-size: 1.1em;
    }
    .song-description div {
        font-size: 0.8em;
    }
    .playing-song {
        width: 50px;
    }
    .add-playlist i{
        margin-left: 30px;
        font-size: 1.8em;
    }
    .profile {
        padding: 4px;
    }
    header, main, aside{
        font-size: 1.7em;
    }
    .category {
        font-size: 1.3em;
    }
    .right-side {
        font-size: 0.8em;
        padding-left: 23%;
    }
    .mid-buttons {
        width: 80%;
        font-size: 1.2em;
    }
    .mid-side {
        width: 40%;
    }
    .download::after {
        width: 130px;
    }
    .song-progression span {
        font-size: 0.9em;
    }
    .volume-bar {
        width: 150px;
    }
    
}
