* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
header {
    position: fixed;
    background-color: #080B12;
    height: 10vh;
    width: 100%;
    position: relative;
}
header div {
    position:absolute;
    right: 5px;
    top: 12px;
    border: 1px solid white;
    color: white;
    padding: 8px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 0.5em;
    text-align: center;
    cursor: pointer;
}
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 90vh;
    width: 8vw;
    z-index: 1;
}
.top-menu, .bottom-menu {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-spotify-regular {
    display: none;
}
.logo-spotify-small{
    width: 15px;
    margin-bottom: 10px;
    color: white;
}
.menu-logos {
    width: 15px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-align: center;
}
.menu-logos img {
    margin-bottom: 5px;
}
.menu-logos span {
    display: none;
}
.download-home {
    width: 10px;
}
.profile-home {
    background-color: #808080;
    border-radius: 50%;
}
footer {
    height: 10vh;
    width: 100vw;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}
.left-side {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.playing-song {
    width: 20px;
    margin-right: 5px;
}
.song-description p {
    font-size: 0.5em;
    color: white;
    font-weight: bold;
}
.song-description div {
    font-size: 0.4em;
    color: rgba(255, 255, 255, 0.5);
}
.add-playlist {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-basis: 0.4em;
    flex-wrap: wrap;
    font-size: 0.55em;
    color: rgba(255, 255, 255, 0.5);
}
.add-playlist i {
    margin-bottom: 2px;
}
